.card .card-image img {
    height: 225px;
    width: auto;
    padding-top: 35px;
    margin: auto;
}

.team-info-img {
    height: 225px;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.standing-img {
    height: 2em;
    margin-top: 8px;
}

td {
    padding: 10px 5px;
}

table {
    margin-bottom: 64px;
}

table.centered tbody tr td.align-left-td {
    text-align: left;
}

.btn {
    padding: 0px 40px;
}

#last-updated {
    font-size: 11px;
}