.card .card-image img {
    height: 225px;
    width: auto;
    padding-top: 35px;
    margin: auto;
}

.team-info-img {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: auto;
    display: flex;
}

.standing-img {
    height: 2em;
    margin-top: 8px;
}

td {
    padding: 10px 5px;
}

table {
    margin-bottom: 64px;
}

table.centered tbody tr td.align-left-td {
    text-align: left;
}

.fixed-width {
    min-width: 125px;
}

.btn {
    padding: 0px 40px;
}

#last-updated {
    font-size: 11px;
}

.btn-flat {
    padding: 0 3px;
}

a.btn-flat:hover {
    color:#0D47A1;
}